.header{
    position: fixed;
    box-shadow: 0 1px 4px var(--color-letras);
    left: 0;
    top: 0;
    width: 100%;
    background-color: var(--fondo);
    z-index: 100;
}

.nav{
    display: flex;
    justify-content: space-between;
    padding: 10px;
    max-width: 980px;
    margin: 0 auto;
}

.logo{
    display: flex;
    align-items: center;
    font-weight: 700;
    color: antiquewhite;
}

.logo img{
    border-radius: 50%;
}


/*  MENU */

.menu{
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.menu li{
    padding: 0 15px;
}

.menu a{
    font-size: 15px;
    font-weight: 700;
    line-height: 50px;
    text-transform: uppercase;
    color: antiquewhite;
}
.menu a:hover{
    color: rgb(0, 0, 0);
    transition: all 0.5s;
    font-weight: bold;
}
.abrir-menu, .cerrar-menu{
    display: none;
}

@media (max-width: 950px){
    .menu{
        flex-direction: column;
        position: fixed;
        left: 0;
        top: 0;
        width: 100%;
        align-items: center;
        background-color: var(--fondo-menu);
        height: 100%;
        overflow-y: auto;

        opacity: 0;
        pointer-events: none;
        transition: opacity 0.3s;
    }
    
    .menu li{
        padding: 0;
    }
    
    .menu a{
        line-height: 60px;
        color: aquamarine;
    }
    
    .abrir-menu, .cerrar-menu{
        display: block;
        border: none;
        background: none;
        cursor: pointer;
    }

    .cerrar-menu{
        align-self: flex-end;
        padding: 20px 15px;
    }

    .menu_abierto{
        opacity: 1;
        pointer-events: all;
    }

    .abrir-menu:focus:not(:focus-visible),
    .cerrar-menu:focus:not(:focus-visible){
        outline: none;
    }
}

