.trayectos {
  display: flex;
  flex-direction: column;
}
.trayecto-body {
  background-color: #124f88;
  color: var(--color-letras);
}

.wave {
  width: 100%;
  position: relative;
  top: 2px;
}
.wave-abajo {
  transform: scaleY(-1);
  top: -2px;
}

.trayecyos-titulo {
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 20px;
  margin: 25px;

  color: var(--letra-blanca);
}

.trayecto-data {
  font-size: 25px;
  font-weight: bold;
  color: var(--alternativo);
}

.trayecto-ligas {
  font-size: 20px;
  text-transform: uppercase;
  margin-top: 5px;

  color: var(--letra-blanca);
}

.trayecto-descripcion {
  font-weight: 400;
  font-size: 15px;
  margin-top: 10px;
}

.trayecto {
  padding: 25px;
  max-width: 500px;
  margin: 0 auto;
}

@media (min-width: 950px) {
  .trayecyos-titulo {
    font-size: 50px;
    margin: 35px 0;
  }

  .trayecto-data {
    font-size: 40px;
  }

  .trayecto-ligas {
    font-size: 25px;
  }

  .trayecto-descripcion {
    font-size: 20px;
    margin-top: 10px;
    line-height: 1.3;
  }

  .trayecto {
    padding: 0;
  }

  .trayecto_left {
    text-align: right;
  }

  .trayectos-grid {
    display: grid;
    grid-template-columns: auto 2px auto;
    gap: 20px 70px;
    padding: 70px;
    justify-content: center;
    max-width: 980px;
    margin: 0 auto;
  }

  .line {
    background-color: var(--letra-blanca);
    position: relative;
  }

  .line::before,
  .line::after {
    content: "";
    display: block;
    width: 20px;
    height: 20px;
    background-color: var(--letra-blanca);
    border-radius: 50%;

    position: absolute;
    top: -20px;
    left: -9px;
  }

  .line::after {
    top: 100%;
  }
}
